[project]
name = "fasttps"
version = "0.1.1"
requires-python = ">=3.13,<3.14"
readme = "README.md"

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
