name: Publish leaguescheduler

on:
  release:
    types: [published]

jobs:
  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/leaguescheduler
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: 3.13
      - run: uv build --package leaguescheduler
      - run: uv publish --trusted-publishing always
